#main-content {
  margin: 5% auto;
  background: rgb(136, 129, 129, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#date {
  text-shadow: black 3px 3px 6px;
  font-size: 4rem;
}

br {
  display: none;
}

#time {
  text-shadow: black 3px 3px 6px;
  font-size: 5rem;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  transition: 1s ease-in;
  color: rgb(252, 237, 217);
}

#change-qoute-button {
  border-radius: 5px;
  background-color: burlywood;
  color: rgb(46, 44, 44);
  height: 15px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s linear;
}

#change-qoute-button:hover {
  background-color: rgb(223, 16, 16);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

#change-bg-button {
  border-radius: 5px;
  background-color: burlywood;
  color: rgb(46, 44, 44);
  height: 15px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s linear;
}

.greeting-header {
  text-shadow: black 3px 3px 6px;
  display: flex;
  font-size: 3rem;
}

#change-bg-button:hover {
  background-color: rgb(226, 165, 84);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

h1 {
  text-shadow: black 3px 3px 6px;
  font-weight: 300;
  opacity: 0.8;
}

h2 {
  text-shadow: black 3px 3px 6px;
  font-size: 2rem;
  opacity: 0.8;
}

.weather-description {
  margin-bottom: 10px;
  font-size: 1rem;
}

.city {
  text-shadow: black 3px 3px 6px;
  font-size: 2rem;
}

.weather-icon {
  text-shadow: black 3px 3px 6px;
  font-size: 2rem;
}

.temperature {
  text-shadow: black 3px 3px 6px;
  font-size: 1rem;
}

.weather-flex-items {
  text-shadow: black 3px 3px 6px;
  margin: 5px;
}

.weather-block {
  display: flex;
  justify-content: space-between;
}

.button-block {
  display: flex;
}

.quotes-text {
  text-shadow: black 3px 3px 6px;
  text-align: center;
  padding: 5px;
  height: 50px;
}

@media (max-width: 700px) {
  body {
    background-size: auto;
  }

  .button-block {
    flex-direction: column;
  }

  #time {
    font-size: 3rem;
    text-align: center;
  }

  #date {
    font-size: 3rem;
    text-align: center;
  }

  .greeting-header {
    margin-top: 5%;
    display: unset;
    font-size: 2rem;
  }

  .weather-block {
    flex-direction: column;
    align-items: center;
  }

  #name {
    width: auto;
    text-align: center;
    margin: 0 auto;
  }

  br {
    display: block;
  }
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}
